.TableRow_Custom {
    cursor: pointer;

    &:hover {
        cursor: pointer;
    }
}

.MuiTableCell-stickyHeader {
    background-color: #ffffff !important;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px !important;
    font-weight: bold !important;
}

.TableCell_WithoutData {
    text-align: center !important;
}

.TableHead_Custom {
    background-color: #7190c9 !important;
}

.Pagination_TableCell {
    text-align: center !important;
    border: unset !important;
    float: left;
}

//Hide columns on screen
@media only screen and (max-width: 510px) {
    .TableCell_PlayerId {
      display: none !important;
    }
  }

  @media only screen and (max-width: 385px) {
    .Pagination_TableCell {
      display: flex !important;
      align-items: center;
    }
  }