.table-row {
    cursor: pointer;

    &:hover {
        cursor: pointer;
    }
}

.MuiTableCell-stickyHeader {
    background-color: #ffffff !important;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px !important;
    font-weight: bold !important;
}

.no-data-cell {
    text-align: center !important;
}

.table-head {
    background-color: #7190c9 !important;
}

.pagination-cell {
    text-align: center !important;
    border: unset !important;
    float: left;
}