html, body {
    font-family: Varela Round;
    font-style: normal;
    font-weight: normal;
    background-color: #ffffff;
}


@import 'styles/store_management.scss';
@import 'styles/table_styled.scss';
